body {
  font-family: "Poppins", "Comic Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* header */
/* navbar */
.yummy-dot {
  color: #cc0000;
  font-size: 22px;
}
.nav-link.active {
  text-decoration: 2px underline #cc0000;
}
.nav-link {
  text-decoration: none;
}
.nav-item {
  padding: 0 8px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav {
  justify-content: center;
  align-items: center;
  margin-left: 130px;
}
.bookbtn {
  justify-content: end;
  margin-left: 183px;
}
.navbar-brand {
  margin-left: -12px;
}
.bookbtn.active {
  text-decoration: 2px underline #cc0000;
}
.dropdown {
  text-decoration: none;
}
.dropdown-menu {
  border-radius: 0;
  background-color: #cc0000;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  color: #000;
}
.bookbtn button {
  color: #fff;
  background-color: #cc0000;
  font-size: 10px;
  text-align: center;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 600;
}
.bookbtn button:hover {
  color: #000;
  background-color: #cc0000;
}
/* main start */
/* hero section */

.heropart-area {
  background-color: #eeeeee;
}
.heropart-details {
  margin-top: 150px;
}
.heropart-details h1 {
  font-size: 35px;
  font-family: "Comic Neue", sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 50px;
}
.heropart-details h2 {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
  margin-top: 20px;
}
.heropart-btn {
  margin-top: 30px;
}
.heropart-btn .btn-1 {
  border-radius: 30px;
  padding: 10px 10px;
  color: #fff;
  background-color: #cc0000;
  font-size: 14px;
  margin-left: -2px;
  border: none;
}
.heropart-btn .btn-2 {
  border-radius: 30px;
  padding: 9px 10px;
  color: #cc0000;
  background-color: #eeeeee;
  font-size: 14px;
  margin-left: 11px;
  border: none;
}
.heropart-btn .btn-2 i {
  font-size: 10px;
  color: #cc0000;
  border: 2px solid #cc0010;
  border-radius: 50%;
  padding: 5px;
}
/* About us */
.aboutUs {
  margin-top: 80px;
}
.aboutus-area img {
  position: relative;
  margin-top: 15px;
}
.about-img {
  position: absolute;
  margin-top: 275%;
  margin-left: 100px;
}
.img-area {
  background-color: #fff;
  padding: 28px 110px;
}
.img-area h4 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.img-area h3 {
  font-size: 18px;
  font-weight: 600;
  color: #cc0000;
}
.aboutus-area h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
.aboutus-area h4 i {
  color: #cc0000;
  font-size: 14px;
}
.aboutus-area img {
  position: relative;
}
.aboutus-area .videoicon {
  color: #cc0000;
  border: 5px solid #e5947b;
  border-radius: 50%;
  padding: 18px;
  font-size: 22px;
}
.aboutus-icon {
  position: absolute;
  right: 0;
  transform: translate(-590%, -230%);
  padding: -17px 45px;
}
.aboutUs-area {
  margin-top: 30px;
}
/* why choose */

.chooseus {
  background-color: #eeeeee;
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  margin-top: 60px;
  padding: 30px 30px;
}
.choose .card-height1 {
  border-radius: 0;
  border: none;
  margin-top: 30px;
}
.choose .card-height {
  border-radius: 0;
  border: none;
  background-color: #cc0000;
  color: #fff;
}

.choose-card {
  padding: 20px 30px;
}
.choose-card i {
  font-size: 14px;
  color: #cc0000;
  background-color: #e5947b;
  border-radius: 50%;
  padding: 15px 15px;
}
.choose-card .choose-icon {
  justify-content: center;
  margin-left: 50px;
  padding: 10px;
}
.choose-card h3 {
  font-size: 27px;
  font-weight: 600;
}
.choose-card p {
  font-size: 12px;
}
.choose-btn {
  margin-left: 35%;
}
.choose-btn button {
  border-radius: 30px;
  padding: 10px 10px;
  color: #fff;
  background-color: #e5947b;
  font-size: 14px;
  margin-left: -2px;
  border: none;
  text-align: center;
}
/*  counter */
.counter-section {
  margin-top: 80px;
}
.counter-section img {
  width: 100%;
  position: relative;
}

.count {
  position: absolute;
  padding-top: 0;
  left: 0;
  margin-top: -220px;
  right: 0;
}
.count .counter-box {
  color: #979692;
}
.count .counter-box h5 {
  font-size: 40px;
  color: #000;
  font-weight: 600;
}
/* MENU */
.our-menu {
  margin-top: 80px;
}
.menu-title h2 {
  font-size: 18px;
  text-align: center;
  color: #979692;
  font-weight: 400;
  letter-spacing: -0.3;
}
.menu-title h4 {
  font-size: 40px;
  font-family: "Comic Neue", sans-serif;
  text-align: center;
  color: #000;
  font-weight: 400;
  letter-spacing: -0.3;
  padding: 10px 0;
}

.menu-title h4 span {
  color: #cc0000;
}
.nav-tabs {
  border: none;
}

.menu-list h3 {
  font-size: 14px;
}
.menu-list .nav-link.active {
  color: #cc0000;
  text-decoration: 2px underline #cc0000;
}
.menu-list .nav-link {
  color: #979692;
  text-decoration: 2px underline #979692;
}
.menu-list-heading h3 {
  font-size: 40px;
  font-family: "Comic Neue", sans-serif;
  color: #cc0000;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.7px;
}
.menu-list-heading h4 {
  font-size: 18px;
  text-align: center;
  color: #000;
  font-weight: 400;
  letter-spacing: -0.3;
  padding: 5px 0;
}
.menu-list .navbar {
  margin-left: 22%;
}
.card {
  border: none;
  border-radius: 0;
  padding: 10px 0;
  margin: 0 auto;
}
.card-body h4 {
  color: #cc0000;
  font-size: 25px;
  font-weight: 600;
}
/* galary */
.galary {
  padding-top: 15px;
  padding-bottom: 15px;
}
.galary-area {
  padding-top: 30px;
  background-color: #eeeeee;
}
.gallery-card {
  padding: 10px;
}

/* testimonial */
.testimonial {
  margin-top: 80px;
  background-color: #f4f4f4;
}
.testimonial-area {
  padding: 30px 30px;
}
.testi-icon {
  font-size: 14px;
  color: #cc0010;
}
.testi-area {
  padding: 0px 40px;
  border-left: 2px solid #cc0000;
}
.testi-area {
  padding: 30px 30px;
  border-left: 2px solid #cc0000;
}
.testi-area p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 20px;
}

.testi-area h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.testi-area h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.testi-area .star i {
  font-size: 12px;
  color: #ffc107;
}
.testi-profile {
  padding: 0 80px;
}

.testi-profile img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
/* EVENT */
.event {
  margin-top: 80px;
}
.event-area {
  padding: 30px 30px;
}
.event .card {
  border: 1px solid #979692;
  border-radius: 0;
  margin: 0 auto;
  padding: 0;
}
.event .card img {
  position: relative;
}
.event .card-details-1 {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  padding-top: 25%;
  margin-left: 52px;
  color: #fff;
}
.event .card-details-2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  right: 0;
  padding-top: 78%;
  margin-left: 50px;
}
.event .card-details-3 {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  right: 0;
  padding-top: 78%;
  margin-left: 80px;
}
/* chefs */
.chefs {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f4f4f4;
}
.card {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.card-body h5 {
  font-size: 18px;
  font-weight: 600;
}
.card-body p {
  font-size: 14px;
  color: #979692;
  line-height: 1.5;
}
/* BOOK A TABLE */
.book-table {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

.booking-area {
  margin: 10px;
  padding: 7px 13px;
  border: 1px solid #f4f4f4;
}
.booking-area input {
  border: none;
}
.booking-message {
  margin: 10px;
  padding: 10px 14px 80px;
  border: 1px solid #f4f4f4;
}
.booking-message input {
  border: none;
}
/* contact */
.contact-area {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact-padding {
  padding-bottom: 20px;
}
.contact-area h3 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3;
  margin: 10px 12px;
}
.contact-area h4 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 1.5;
  margin: -25px 50px 10px;
}
.contact-area i {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.3;
  border-radius: 50%;
  background-color: #cc0000;
  color: #fff;
  padding: 12px 14px;
  margin: 10px 0px;
}
.contact-area-details {
  padding: 12px 60px;

  background-color: #f4f4f4;
}
.contact-details {
  margin: 12px 0px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
}
.details-area {
  margin: 22px;
  padding: 10px 40px;
  border: 1px solid #f4f4f4;
}
.details-area input {
  border: none;
}

.message-area {
  margin: 22px;
  padding: 10px 42px 120px;
  border: 1px solid #f4f4f4;
}
.message-area input {
  border: none;
}
.contact-btn {
  padding: 22px 22px;
  margin-left: 40%;
}
.contact-btn button {
  border-radius: 30px;
  padding: 10px 10px;
  color: #fff;
  background-color: #cc0000;
  font-size: 14px;
  margin-left: -2px;
  border: none;
  text-align: center;
}
/* footer start */
.footer-area {
  background-color: #000;
  color: #fff;
  padding-top: 30px;
}
.footer-area h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.3;
}
.footer-area h3 i {
  font-size: 16px;
  font-weight: 600;
}
.footer-area h4 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 1.5;
  margin: 0 15px 10px;
}
.footer-end {
  border-top: 1px solid #979692;
}
.footer-end h4 {
  text-align: center;
  padding: 10px 10px;
}
footer .round-btn a {
  padding: 0 0 0 9px;
  background-color: transparent;
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
}
footer li {
  list-style: none;
}

footer .round-btn {
  box-shadow: 2px 2px 5px 0px #ccc !important;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

footer .round-btn {
  margin: 12px 2px;
}
